<html>

    <head>
        <title>Koa build</title>
        <link rel="stylesheet" href="css/style.css">

        <meta baidu-bsi-verify-token="6ea8da8ccd5c9054968e255971377ffc">
    </head>

    <body>
        汇率：<%-rate %>
        <!-- Current: -->

        <div>
            coinone: <span><%-co %>₩ --- <%-(co / rate) %>￥</span>
        </div>
        <a href="https://coinone.co.kr/">COINONE</a>
        <br>
        <div>
            viabtc: <span><%-vb %>￥ --- <%-vb * rate %>₩</span>
        </div>
        <a href="https://www.viabtc.com/">VIABTC</a>
        <br>
        <br>
        <b>差价：<%-(co/rate - vb) %>￥</b>
        <br>
        <!-- <div>
            bitflyer: <span><%-bf %></span>
        </div> -->


    </body>
    <script>
        setInterval(function () {
            location.reload() 
        }, 5000)
    </script>

</html>
