<html>

    <head>
        <title>Koa build</title>
        <link rel="stylesheet" href="css/style.css">

        <meta baidu-bsi-verify-token="6ea8da8ccd5c9054968e255971377ffc">
    </head>

    <body>
        
        Current:

        <div>
            coinone: <span><%-co %> --- <%-(co/176.5) %></span>
        </div>
        <div>
            via: <span><%-vb %> --- <%-vb*176.5 %></span>
        </div>
        <b><%-(co/176.5 - vb) %></b>
        <br>
        <div>
            bitflyer: <span><%-bf %></span>
        </div>


    </body>


</html>
