<html>

<head>
    <title>Koa build</title>
    <link rel="stylesheet" href="css/style.css">

    <meta baidu-bsi-verify-token="6ea8da8ccd5c9054968e255971377ffc">

    <style>
        * {margin:0;padding:0;box-sizing:border-box;}
        li {list-style-type: none;font-size:13px;}
        li.buy {color:tomato;}
        li.sell {color:deepskyblue;}
    </style>
</head>

<body>
    <div>
        vvvv
    </div>

    <table>
        <% for(var i=0; i<Arr.length + 1; i++) {%>
            <% if (i == 0) {%>
                <tr>
                    <th>V</th>
                    <% for(var j=1; j < coinPriceArr.length; j++) {%>
                        <th><%= coinPriceArr[j].name %></th>
                    <% } %>
                </tr>
            <% } %>
            <tr>
                <% for(var j=0; j < Arr.length; j++) {%>
                    <% if (j == 0) {%>
                        <%= i%>
                        <td><%- coinPriceArr[i].name %></td>
                    <% } else { %>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    </table>
    


</body>
<script>
    // setInterval(function () {
    //     location.reload()
    // }, 5000)
</script>

</html>