<!DOCTYPE html><html lang="en"><head>
	<meta charset="utf-8">
	<title>NgAdmin</title>
	<base href="/ng-admin">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/dist/styles.8d8cbd4e9377c76438d6.css"></head>
<body>
	<adm-app></adm-app>


<script type="text/javascript" src="/dist/runtime.90ef2ce2b288c7f5c146.js"></script><script type="text/javascript" src="/dist/polyfills.6bfb100b4e76f08e5821.js"></script><script type="text/javascript" src="/dist/main.08516e3ef3fc643d5eff.js"></script></body></html>